/* accordion styles */
.accordion {
	.card-header {
		cursor: pointer;
	}
	
	&.heading-right {
		.card-title {
			position: absolute;
			right: 50px;
		}
	}
	
	&.indicator-plus {
		.card-header {
			&:after {
				font-family: 'FontAwesome';  
				content: "\f068";
				float: right; 
			}
			&.collapsed {
				&:after {
					content: "\f067"; 
				}
			}
		}
	}
	&.indicator-plus-before {
		&.round-indicator {
			.card-header {
				&:before {
					font-family: 'FontAwesome';  
					font-size: 14pt;
					content: "\f056";
					// float: left; 
					margin-right: 10px;
					// color: #ff9900;
				}
				&.collapsed {
					&:before {
						content: "\f055"; 
						color: #000;
					}
				}
			}			
		}
		.card-header {
			&:before {
				font-family: 'FontAwesome';  
				content: "\f068";
				float: left; 
			}
			&.collapsed {
				&:before {
					content: "\f067"; 
				}
			}
		}
	}	
	
	&.indicator-chevron {
		.card-header {
			&:after {
				font-family: 'FontAwesome';  
				content: "\f078";
				float: right; 
			}
			&.collapsed {
				&:after {
					content: "\f077"; 
				}
			}
		}
	}	
	
	&.background-none {
		[class^="card"] {
			background: transparent;
		}
	}
	
	&.border-0 {
		.card {
			border: 0;
		}	
	} 
}