@charset "utf-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 18px;
    vertical-align: baseline;
	background: transparent;
}


.container{
	width:100%;
	margin: 0px auto;
}
.content{
	clear:both;
}
.contentsDiv{
	clear:both;
	max-width:1029px;
	margin: 0px auto;
}
.imageback{
	position:absolute;
	width:100%;
	height:100%;
	left:0px;
	top:0px;
	background-size: cover;
	background-position: center;
	opacity:.45;
	z-index:95;
}
.nav{
	font-family: "futura-pt";
	font-weight:700;
	font-size:18px;
	font-weight: 600;
	letter-spacing: 3px;
}
.nav li a{
	color:white!important;
	transition: .2s;
	white-space: none;
}
.nav li a:hover{
	color:#9c9999!important;
	background:none;
	transition: .2s;
}
.navbar-collapse{
	margin-top: 20px;
}
.navbar{
	border-bottom:none;
	background:none;
}
.footer{
	clear:both;
	width:100vw;
	background:#151515;
	height:475px;
	text-align:center;
	font-size:19px;
	font-style:italic;
	line-height:1.7em;
}
.footer a{
	text-decoration:none;
	color:white;
	border-bottom:1px solid white;
}
.footcont{
	width:70%;
	max-width:938px;
	margin:0px auto;
	color:white;
}
.color-overlay{
	height:100%;
	width:100vw;
	background:rgb(33,27,23);
	z-index:122;
}

.startm{
	font-family: 'futura-pt';
	font-weight: 600;
	color:red;
	border:2px solid red;
	height:58px;
	width:173px;
	text-align: center;
	padding-top:12px;
	margin-top:-3px;
	transition: .2s;
}
.startm a{
	color:red!important;
	text-decoration: none!important;
}
.startm a:hover{
	color:white!important;
	text-decoration: none!important;
}
.startm:hover{
	border:2px solid red;
	background:red;
	color:white!important;
	transition: .2s;
}
.topimage{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:869px;
	background: #211b17;
	z-index:-99;
}
.tbtext{
	max-width:810px;
	width:auto;
	min-height:800px;
	margin:0px auto;
}
.topimage img{
	width:100%;
	opacity: 0.3;
	height:100%;
	max-height:816.38px;
	overflow: auto;
}
.fpt36{
	font-family: 'europa';
	font-size:30px;
	font-weight:400;
	text-align: center;
	color: white;
	line-height: 1.25em;
}
.fpt70{
	font-family: 'futura-pt';
	font-size:70px;
	font-weight:500;
	text-align: center;
	color: white;
	line-height: 1.2em;
}

.startw{
	font-family: 'futura-pt';
	font-weight: 400;
	height:74px;
	width:173px;
	text-align: center;
	padding-top:14px;
	margin:0px auto;
	margin-top:-3px;
}
.startw a{
	display:block;
	width:100%;
	height:100%;
	border:2px solid white;
	color:white;
	padding-top:16px;
	text-decoration: none!important;
	letter-spacing: 3px;
	transition: .2s;
}
.startw a:hover{
	background: white;
	color:#111111;
	text-decoration: none!important;
	transition: .2s;
}

.startb {
	font-family: 'futura-pt';
	font-weight: 300;
	border:2px solid black;
	height:58px;
	width:173px;
	text-align: center;
	margin:0px auto;
	margin-top:-3px;
	transition: .2s;
}
.startb a{
	display: block;
	width:100%;
	height:100%;
	color:black!important;
	text-decoration: none!important;
	letter-spacing: 3px;
	padding-top:13px;
	transition: .2s;
}
.startb a:hover{
	color:white!important;
	background:black;
	text-decoration: none!important;
	transition: .2s;
}
.startb:hover{
	border:2px solid black;
	color:white;
	transition: .2s;
}


.startr{
	font-family: 'futura-pt';
	font-weight: 300;
	color:white;
	height:76px;
	width:225px;
	text-align: center;
	margin:0px auto;
	margin-top:-3px;
	background:red;
	transition: .2s;
}
.startr a{
	display: block;
	width:100%;
	height:100%;
	text-decoration: none!important;
	font-size:23px;
	color:white;
	padding-top:20px;
	letter-spacing: 3px;
	transition: .2s;
}
.startr a:hover{
	color:white;
	background:rgb(255, 40, 40);
	text-decoration: none!important;
	transition: .2s;
}

.startrs{
	font-family: 'futura-pt';
	font-weight: 300;
	color:white;
	height:56px;
	width:185px;
	text-align: center;
	margin:0px auto;
	margin-top:-3px;
	background:#CC0000;
	transition: .2s;
}
.startrs a{
	display: block;
	width:100%;
	height:100%;
	text-decoration: none!important;
	font-size:18px;
	color:white;
	padding-top:14px;
	letter-spacing: 3px;
	transition: .2s;
}
.startrs a:hover{
	color:white;
	background:red;
	text-decoration: none!important;
	transition: .2s;
}

.twtext{
	font-family: 'futura-pt';
	font-style: italic;
	font-weight:300;
	font-size:32px;
	color:#1f1f1f;
	text-align: center;
}
.twtextuser{
	font-family:'europa';
	font-style:normal;
	font-weight:700;
	font-size:18px;
}
.twtextmonth{
	font-family:'europa';
	font-style:normal;
	font-weight:300;
	font-size:18px;
}
.twtextl{
	width:100%;
}
.twtextl h3{
	font-family:'futura-pt'!important;
	font-weight:700;
	color:#1f1f1f;
	font-size:32px;
	text-align:center;
}
.twtextl p{
	width:70%;
	margin:0 auto;
	font-family:'europa'!important;
	font-weight:300;
	color:#1f1f1f;
	font-size:18px;
	text-align:center;	
}
.leftside{
	float:left;
	width:30%;
	margin-right:3%;
	font-family:'europa'!important;
	color:#1f1f1f;
	font-size:21px;
	text-align:right;	
}
.leftside h5{
	font-weight:700;
}
.leftitem{
	float:none;
	width:100%;
}
.lleft p{
	font-weight:300;
	text-align:right;
	padding:none;
	color:black;
	width:210px;
}
.lleft{
	float:left;
	max-width:210px;
	
}
.rleft{
	float:right;
	width:60px;
	height:auto;
	margin-left:2%;
}
.rleft img{
	width:50px;
}
.rightside{
	float:left;
	width:31%;
	margin-right:2%;
	font-style:'europa'!important;
	font-weight:100;
	color:#1f1f1f;
	font-size:21px;
	text-align:left;	
}
.rightside h5{
	font-weight:700;
}
.lleft{
	font-family:'europa';
	float:right;
}
.lleft h5{
	font-weight:700;
}
.rleft{
	float:right;
}
.centerside{
	float:left;
	width:30%;
	margin-right:4%;
	margin-top:-50px;
}
.centerside img{
	width:355px;
	height:auto;
}

.lright{
	float:left;
}
.rright{
	font-family:'europa';
	float:right;
	width:253px;
}
.rright h5{
	font-weight:700;
}
.rright p{
	width:100%;
	text-align:left;
}
.lright img{
	width:50px;
}

.carousel-fade .carousel-item {
	display: block;
	position: absolute;
	opacity: 0;
	transition: opacity .75s ease-in-out;
  }
  .carousel-fade .carousel-item.active {
	opacity: 1;
  }
  
  html,
  body,
  .carousel,
  .carousel-inner,
  .carousel-item {
	width: 100vw;
	height: 100%;
  }
  
  .carousel {
	position: absolute;
	top: 0;
	left: 0;
  }
  
  
  