<template>
  <li class="dropdown notifications-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <i class="fa fa-bell-o"></i>
      <span class="label label-warning">{{ totalNotifications }}</span>
    </a>
    <ul class="dropdown-menu">
      <li class="header">You have {{ totalNotifications }} notifications</li>
      <li>
        <!-- inner menu: contains the actual data -->
        <ul class="menu">
          <li v-for="notification in notifications">
            <a href="#">
              <i class="fa fa-play text-aqua"></i>
              <span class="accent">{{ 'User:' + notification.data.user + ', ' + notification.data.action }}</span>
              <!-- <i class="fa fa-users text-aqua"></i> 5 new members joined today -->
            </a>
          </li>
        </ul>
      </li>
      <li class="footer"><a href="#">View all</a></li>
    </ul>
  </li>
</template>

<script>
  export default {
      data () {
        return {
          notifications: [],
          totalNotifications: 0
        }
      },
      mounted() {
          const self = this;
          const user = document.head.querySelector('meta[name="user"]');

          Echo.private('App.User.' + user.content)
          .listen(".Illuminate\\Notifications\\Events\\BroadcastNotificationCreated", (notification) => {
            console.log(notification)
              self.updateNotifications(notification);
              let message = 'User:' + notification.user + ', ' + notification.action;
              toastr.success(message)
          })

          self.getUserNotifications();
      },
      methods: {
        getUserNotifications () {
          axios.get('/app/notifications')
            .then(response => response.data)
            .then(response => {
              this.notifications = response.notifications
              this.totalNotifications = response.totalNotifications
            })
        },
        updateNotifications (notification) {
          this.notifications.unshift({data: notification});

          this.totalNotifications += 1;
        }
      }
  }
</script>