.header .header-block-nav .profile .name {
    display: inline-block;
    margin-right: 9px;
    font-weight: bold;	
}

.main-header .dropdown-menu.profile-dropdown-menu a.dropdown-item {
	display: inline-block;
	padding: 10px 15px;
}